<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for("static", filename="css/tailwind.css")}}" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="{{url_for("static", filename="DataTables-1.10.22/css/jquery.dataTables.min.css")}}" />
    <title>Championship Board | Control Panel</title>
</head>

<body>
    <header class="text-right">
        <a href="{{url_for('logout')}}" class="btnTable btn-indigo m-4 inline-block">Logout</a>
    </header>
    <main>
        <div class="flex-center">
            <div class="bdTableWrapper">
                <h2>GROUPS - TEAMS</h2>
                <table class="dbTable stripe order-column">
                    <thead>
                        <tr>
                            <th>ID GROUP</th>
                            <th>NAME GROUP</th>
                            <th>ID TEAM</th>
                            <th>NAME TEAM</th>
                            <th>MATCHES PLAYED</th>
                            <th>MATCHES WON</th>
                            <th>MATCHES LOST</th>
                            <th>TOTAL POINTS</th>
                            <th>TIE BREAKER</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for group_team in groups_teams %}
                        <tr>
                            <td>{{group_team.id_group}}</td>
                            <td>{{group_team.name_group}}</td>
                            <td>{{group_team.id_team}}</td>
                            <td>{{group_team.name_team}}</td>
                            <td>{{group_team.matches_played}}</td>
                            <td>{{group_team.matches_won}}</td>
                            <td>{{group_team.matches_lost}}</td>
                            <td>{{group_team.total_points}}</td>
                            <td>{{group_team.tie_breaker}}</td>
                            <td class="text-center">
                                <form action="{{url_for('deleteGroupTeam')}}" method="POST">
                                    <input type="text" name="groupId" class="hidden"
                                        value="{{group_team.id_group}}">
                                    <input type="text" name="teamId" class="hidden"
                                        value="{{group_team.id_team}}">
                                    <button class="btnTable btn-indigo" type="submit" value="Delete">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <form class="dbForm" action="{{url_for('insertGroupTeam')}}" method="POST">
                    <label>Select a Team:
                        <select name="teamId">
                            {% for team in teams %}
                            <option value="{{team.id}}">{{team.name}}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>Group to assign:
                        <select name="groupId">
                            {% for group in groups %}
                            <option value="{{group.id}}">{{group.name}}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <button class="btnTable btn-indigo" type="submit" value="Insert">Assign</button>
                </form>
            </div>
            <div class="bdTableWrapper">
                <h2>MATCHES</h2>
                <table class="dbTable stripe order-column">
                    <thead>
                        <tr>
                            <th>ID MATCH</th>
                            <th>ID GROUP</th>
                            <th>NAME GROUP</th>
                            <th>ROUND</th>
                            <th>ID TEAM1</th>
                            <th>NAME TEAM1</th>
                            <th>TB TEAM1</th>
                            <th>ID TEAM2</th>
                            <th>NAME TEAM2</th>
                            <th>TB TEAM2</th>
                            <th>RESULT</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for match in matches %}
                        <tr>
                            <td>{{match.id_match}}</td>
                            <td>{{match.id_group}}</td>
                            <td>{{match.name_group}}</td>
                            <td>{{match.round}}</td>
                            <td>{{match.id_team1}}</td>
                            <td>{{match.name_team1}}</td>
                            <td>{{match.team1_tb}}</td>
                            <td>{{match.id_team2}}</td>
                            <td>{{match.name_team2}}</td>
                            <td>{{match.team2_tb}}</td>
                            <td>{{match.result}}</td>
                            <td class="text-center">
                                <button class="btnTable btn-indigo matchResultBtn">Set Result</button>
                                <form action="{{url_for('setMatchResult')}}" method="POST" class="matchResultForm hidden">
                                    <input type="text" name="matchId" class="hidden"
                                        value="{{match.id_match}}">
                                    <label>Winner
                                    <select name="matchWinner">
                                        <option value="{{match.id_team1}}">{{match.name_team1}}</option>
                                        <option value="{{match.id_team2}}">{{match.name_team2}}</option>
                                    </select>
                                    </label>
                                    <input type="text" name="team1Id" class="hidden"
                                        value="{{match.id_team1}}">
                                    <label>Team1 Tie-brk
                                    <input type="text" name="team1Tb"
                                        value="{{match.id_team1_tb}}">
                                    </label>
                                    <input type="text" name="team2Id" class="hidden"
                                        value="{{match.id_team2}}">
                                    <label>Team2 Tie-brk
                                    <input type="text" name="team2Tb"
                                        value="{{match.id_team2_tb}}">
                                    </label>
                                    <button class="btnTable btn-indigo" type="submit">Submit Result</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <form class="dbForm" action="{{url_for('generateRounds')}}" method="POST">
                    <label for="groupId">Group to generate Rounds:</label>
                    <select name="groupId" id="groupId">
                        {% for group in groups %}
                        <option value="{{group.id}}">{{group.name}}</option>
                        {% endfor %}
                    </select>
                    <button class="btnTable btn-indigo" type="submit" value="Insert">Generate Rounds</button>
                </form>
            </div>
            <div class="bdTableWrapper">
                <h2>FINALS</h2>
                <table class="dbTable stripe order-column">
                    <thead>
                        <tr>
                            <th>ID FINAL</th>
                            <th>ID PARENT 1</th>
                            <th>ID PARENT 2</th>
                            <th>ID TEAM1</th>
                            <th>NAME TEAM1</th>
                            <th>ID TEAM2</th>
                            <th>NAME TEAM2</th>
                            <th>RESULT</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for final in finals %}
                        <tr>
                            <td>{{final.id_final}}</td>
                            <td>{{final.id_parent1}}</td>
                            <td>{{final.id_parent2}}</td>
                            <td>{{final.id_team1}}</td>
                            <td>{{final.name_team1}}</td>
                            <td>{{final.id_team2}}</td>
                            <td>{{final.name_team2}}</td>
                            <td>{{final.result}}</td>
                            <td class="text-center">
                                <button class="btnTable btn-indigo matchResultBtn">Set Result</button>
                                <form action="{{url_for('setFinalResult')}}" method="POST" class="matchResultForm hidden">
                                    <input type="text" name="finalId" class="hidden"
                                        value="{{final.id_final}}">
                                    <label>Winner
                                    <select name="finalWinner">
                                        <option value="{{final.id_team1}}">{{final.name_team1}}</option>
                                        <option value="{{final.id_team2}}">{{final.name_team2}}</option>
                                    </select>
                                    </label>
                                    <input type="text" name="team1Id" class="hidden"
                                        value="{{final.id_team1}}">
                                    <input type="text" name="team2Id" class="hidden"
                                        value="{{final.id_team2}}">
                                    <button class="btnTable btn-indigo" type="submit">Submit Result</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <form class="dbForm" action="{{url_for('generateFinals')}}" method="POST">
                    <label for="maxBracket">Select max. bracket:</label>
                    <select name="maxBracket" id="maxBracket">
                        <option value="3">Eight-Finals</option>
                        <option value="2">Quarterfinals</option>
                        <option value="1">Semifinals</option>
                        <option value="0">Final</option>
                    </select>
                    <button class="btnTable btn-indigo" type="submit" value="Generate">Generate Finals</button>
                </form>
            </div>
        </div>
        <div class="flex-center">
            <div class="bdTableWrapper">
                <h2>GROUPS</h2>
                <table class="dbTable stripe order-column">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>NAME</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for group in groups %}
                        <tr>
                            <td>{{group.id}}</td>
                            <td>{{group.name}}</td>
                            <td class="text-center">
                                <form action="{{url_for('deleteGroup')}}" method="POST">
                                    <input type="text" name="groupId" class="hidden" value="{{group.id}}">
                                    <button class="btnTable btn-indigo" type="submit" value="Delete">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <form class="dbForm" action="{{url_for('insertGroup')}}" method="POST">
                    <label for="groupName">Group name:</label>
                    <input type="text" id="groupName" name="groupName">
                    <button class="btnTable btn-indigo" type="submit" value="Insert">Insert</button>
                </form>
            </div>
            <div class="bdTableWrapper">
                <h2>TEAMS</h2>
                <table class="dbTable stripe order-column">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>NAME</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for team in teams %}
                        <tr>
                            <td>{{team.id}}</td>
                            <td>{{team.name}}</td>
                            <td class="text-center">
                                <form action="{{url_for('deleteTeam')}}" method="POST">
                                    <input type="text" name="teamId" class="hidden" value="{{team.id}}">
                                    <button class="btnTable btn-indigo" type="submit" value="Delete">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <form class="dbForm" action="{{url_for('insertTeam')}}" method="POST">
                    <label for="teamName">Team name:</label>
                    <input type="text" id="teamName" name="teamName">
                    <button class="btnTable btn-indigo" type="submit" value="Insert">Insert</button>
                </form>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="{{url_for("static", filename="js/jquery-3.5.1.min.js")}}"></script>
    <script type="text/javascript"
        src="{{url_for("static", filename="DataTables-1.10.22/js/jquery.dataTables.min.js")}}"></script>
    <script type="text/javascript" src="{{url_for("static", filename="js/app.js")}}"></script>
</body>

</html>