<!DOCTYPE html>
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for("static", filename="css/tailwind.css" )}}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for("static",
        filename="DataTables-1.10.22/css/jquery.dataTables.min.css" )}}" />
    <link href="{{url_for("static", filename="css/bracket.css")}}" rel="stylesheet">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Championship">
    <title>Championship Board</title>
    <link rel="manifest" href="{{url_for('pwa')}}">
    <link rel="apple-touch-startup-image" href="{{url_for("static", filename="img/icon512.png")}}">
    <link rel="apple-touch-icon" href="{{url_for("static", filename="img/icon192.png")}}" sizes="192x192">
    <link rel="apple-touch-icon" href="{{url_for("static", filename="img/icon512.png")}}" sizes="512x512">
</head>

<body>
    <header>
        <div class="flex-center">
            <img src="{{url_for("static", filename="img/logo.png" )}}" alt="Logo">
        </div>
    </header>
    <main>
        <div class="flex-center groupTableWrapper">
            {% for g, group in groups.items() %}
            <div class="tableWrapper">
                <table class="groupTable stripe order-column">
                    <thead>
                        <tr>
                            <th><span id="tableH0"></span></th>
                            <th><span id="tableH1"></span></th>
                            <th><span id="tableH2"></span></th>
                            <th><span id="tableH3"></span></th>
                            <th><span id="tableH4"></span></th>
                            <th>Tie-Breaker</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for team in group['teams'] %}
                        <tr>
                            <td>{{team.teamName}}</td>
                            <td>{{team.played}}</td>
                            <td>{{team.won}}</td>
                            <td>{{team.lost}}</td>
                            <td>{{team.points}}</td>
                            <td>{{team.tie_breaker}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if group['rounds'] %}
                <div class="roundTabs">
                    <ul class="navBar">
                        {% for r in group['rounds'].keys() %}
                        <li class="navBarTab"><a href="#Round{{g}}{{r}}">Ronda {{r}}</a></li>
                        {% endfor %}
                    </ul>
                    {% for r, round in group['rounds'].items() %}
                    <div id="Round{{g}}{{r}}">
                        <table class="roundTable stripe order-column">
                            <thead>
                                <tr>
                                    <th>Equip 1</th>
                                    <th>Equip 2</th>
                                    <th>Resultat</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for match in round.matches %}
                                <tr>
                                    <td>{{match.name_team1}}</td>
                                    <td>{{match.name_team2}}</td>
                                    <td>{{match.result}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="flex-center">
            {% macro node(name, team1, team2, children) -%}
            {% if children|length > 0 %}
            <div class="item">
                <div class="item-parent">
                    <div class="itemBox">
                        <h3>{{ name }}</h3>
                        <p>{{ team1 }}</p>
                        <p>{{ team2 }}</p>
                    </div>
                </div>
                <div class="item-childrens">
                    {% for child in children %}
                    <div class="item-child">
                        {{ node(child.name, child.team1, child.team2, child.children) }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <div class="itemBox">
                <h3>{{ name }}</h3>
                <p>{{ team1 }}</p>
                <p>{{ team2 }}</p>
            </div>
            {% endif %}
            {%- endmacro %}

            <div class="wrapper">
                {% if finals %}
                    {{ node(finals.name, finals.team1, finals.team2, finals.children) }}
                {% endif %}
            </div>
        </div>
        <div class="flex-center">
            <button class="add-button btn btn-indigo">Download App</button>
        </div>
    </main>
    <script type="text/javascript" src="{{url_for("static", filename="js/jquery-3.5.1.min.js" )}}"></script>
    <script type="text/javascript" src="{{url_for("static", filename="DataTables-1.10.22/js/jquery.dataTables.min.js"
        )}}"></script>
    <script type="text/javascript" src="{{url_for("static", filename="js/jquery.responsiveTabs.min.js" )}}"></script>
    <script type="text/javascript" src="{{url_for("static", filename="js/app.js" )}}"></script>
    <script type="text/javascript" src="{{url_for("static", filename="js/tabs.js" )}}"></script>
</body>

</html>