<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for("static", filename="css/tailwind.css" )}}" rel="stylesheet">
    <title>Championship Board | Login</title>
</head>
<body>
    <header>
        <div class="flex-center">
            <img src="{{url_for("static", filename="img/logo.png" )}}" alt="Logo">
        </div>
    </header>
    <main>
        <div class="flex flex-col content-center m-10">
            <form class="w-60 flex flex-col m-auto " action="{{url_for('login')}}" method="POST">
                <label for="userId">User</label>
                <input type="text" id="userId" name="userId">
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
                <button class="btnTable btn-indigo m-4" type="submit">Login</button>
                {% if response %}
                    <p class="w-60 m-auto text-center">Enter User and Password</p>
                {% else %}
                    <p class="w-60 m-auto text-center text-red-500">User or Password Incorrect</p>
                {% endif %}
            </form>
        </div>
    </main>
</body>
</html>