body {
    background-color: rgba(224, 231, 255, 1);
}
  
  .wrapper {
    display: flex;
    height: 600px;
    justify-content: center;
  }
  
  .item {
    display: flex;
    flex-direction: row-reverse;
  }

  .itemBox {
    padding: 10px 20px;
    margin: 0;
    background-color: rgba(99, 102, 241, 1);
    color: #ffffff;
  }

  .itemBox h3 {
    padding: 5px;
    margin: 5px;
    text-align: center;
    border: 1px solid;
    background-color:  rgba(224, 231, 255, 1);
    color: rgba(99, 102, 241, 1);
  }

  .itemBox p {
    padding: 2px;
    margin: 0;
    font-size: 1.25em;
  }

  .item-parent {
    position: relative;
    margin-left: 50px;
    display: flex;
    align-items: center;
  }
  .item-parent:after {
    position: absolute;
    content: '';
    width: 25px;
    height: 2px;
    left: 0;
    top: 50%;
    background-color: #000;
    transform: translateX(-100%);
  }
  .item-childrens {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .item-child {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
  }
  .item-child:before {
    content: '';
    position: absolute;
    background-color: #000;
    right: 0;
    top: 50%;
    transform: translateX(100%);
    width: 25px;
    height: 2px;
  }
  .item-child:after {
    content: '';
    position: absolute;
    background-color: #000;
    right: -25px;
    height: calc(50% + 22px);
    width: 2px;
    top: 50%;
  }
  .item-child:last-child:after {
    transform: translateY(-100%);
  }
  .item-child:only-child:after {
    display: none;
  }

  @media(min-width: 840px) {
    .itemBox{
      min-width: 15em;
    }
  }