@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-indigo-100;
}

h2 {
    @apply mb-2 font-bold text-center text-4xl font-mono text-indigo-700;
}

.flex-center {
    @apply flex flex-wrap content-center justify-evenly p-2 m-auto;
}

.groupTableWrapper {
    @apply xl:w-11/12 2xl:w-3/4;
}

.tableWrapper {
    @apply my-6;
}

.bdTableWrapper {
    @apply bg-indigo-50 p-6 m-4;
}

.groupTable {
    width: 100% !Important;
}

.dbForm {
    @apply p-6
}

.btn {
    @apply py-2 px-4 font-semibold rounded-lg shadow-md;
}

.btnTable {
    @apply py-0 px-4 rounded-lg shadow-md
}

.btn-indigo {
    @apply text-white bg-indigo-500 hover:bg-indigo-700;
}


.navBarTab {
    @apply px-2 py-0;
}

.r-tabs .r-tabs-tab {
    display: inline-block;
    margin: 0;
    list-style: none;
}

.r-tabs .r-tabs-accordion-title {
    display: none;
}

.r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
}

.r-tabs .r-tabs-panel {
    padding: 15px;
    display: none;
}

/* Accordion responsive breakpoint */
@media only screen and (max-width: 768px) {
    .r-tabs .r-tabs-nav {
        display: none;
    }

    .r-tabs .r-tabs-accordion-title {
        display: block;
    }
}

.r-tabs-state-active {
    @apply bg-blue-400;
}

#tableH0:before {
    content: "Equip"
}

#tableH1:before {
    content: "PJ"
}

#tableH2:before {
    content: "PG"
}

#tableH3:before {
    content: "PP"
}

#tableH4:before {
    content: "Pts"
}

@media (min-width:512px){

    #tableH1:before {
        content: "Jugats"
    }
    
    #tableH2:before {
        content: "Guanyats"
    }
    
    #tableH3:before {
        content: "Perduts"
    }
    
    #tableH4:before {
        content: "Punts"
    }
}